header{
    height: 150px;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/8afd9815296625.5628f44db227e.png);
}

.futurama{
    font-family: futurama;
}

/* body{
    background-image: url();
} */